{% extends 'admin/base.html.twig' %}

{% block admin_title %}{{ promo_code.code }}{% endblock %}

{% block admin_content %}
    <section>
        <div class="admin-page-heading admin-page-heading--actions">
            <div>
                <span>{{ 'admin.promo.edit.eyebrow'|trans }}</span>
                <h1>{{ promo_code.code }}</h1>
                <p>{{ 'admin.promo.edit.subtitle'|trans }}</p>
            </div>
            <a href="{{ path('app_admin_promo_codes_index') }}" class="admin-secondary-button">
                <i class="fa-solid fa-arrow-left"></i>
                {{ 'admin.promo.back_to_list'|trans }}
            </a>
        </div>

        {% include 'admin/promo_codes/_form.html.twig' with {
            form: form,
            promo_code: promo_code,
            submit_label: 'admin.promo.form.update_submit'
        } only %}
    </section>
{% endblock %}
