{% extends 'front/base.html.twig' %}

{% block title %}{{ 'checkout.success.page_title'|trans }}{% endblock %}
{% block storefront_data %}data-page="checkout-success"{% endblock %}

{% block main %}
    <section class="checkout-result">
        <article class="checkout-result__card checkout-result__card--success">
            <span class="checkout-result__icon">
                <i class="fa-solid fa-circle-check"></i>
            </span>
            <p class="checkout-result__eyebrow">{{ 'checkout.success.eyebrow'|trans }}</p>
            <h1>{{ 'checkout.success.title'|trans }}</h1>
            <p>{{ 'checkout.success.text'|trans }}</p>

            {% if order %}
                <div class="checkout-result__order">
                    <span>{{ 'checkout.order_number'|trans }}</span>
                    <strong>{{ order.orderNumber }}</strong>
                </div>
            {% endif %}

            <div class="checkout-result__actions">
                <a href="{{ path('app_front_boutique') }}" class="checkout-result__primary">
                    {{ 'common.shop'|trans }}
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <a href="{{ path('app_front_home') }}" class="checkout-result__secondary">
                    {{ 'common.home'|trans }}
                </a>
            </div>
        </article>
    </section>
{% endblock %}
