{% extends 'front/base.html.twig' %}

{% block title %}{{ 'page.blog.title'|trans }}{% endblock %}
{% block meta_description %}{{ 'page.blog.meta_description'|trans }}{% endblock %}
{% block canonical_url %}{{ seo_origin ~ path('app_front_blog') }}{% endblock %}
{% block og_image %}{{ posts|first ? seo_origin ~ (posts|first).cover_image : seo_origin ~ asset('img/blog/demon_slayer_3.jpg') }}{% endblock %}
{% block storefront_data %}data-page="blog"{% endblock %}
{% block structured_data %}
    {% set article_items = [] %}
    {% for post in posts %}
        {% set article_items = article_items|merge([{
            '@type': 'ListItem',
            position: loop.index,
            url: seo_origin ~ path('app_front_blog_show', {slug: post.slug}),
            name: post.title
        }]) %}
    {% endfor %}
    <script type="application/ld+json">{{ {
        '@context': 'https://schema.org',
        '@type': 'CollectionPage',
        name: 'blog.title'|trans,
        description: 'page.blog.meta_description'|trans,
        url: seo_origin ~ path('app_front_blog'),
        mainEntity: {
            '@type': 'ItemList',
            numberOfItems: posts|length,
            itemListElement: article_items
        }
    }|json_encode|raw }}</script>
{% endblock %}

{% block main %}
    <section class="blog-hero">
        <div class="max-w-7xl mx-auto px-5">
            <div class="blog-hero__content">
                <span class="blog-hero__eyebrow"><i class="fa-solid fa-bolt"></i> {{ 'blog.eyebrow'|trans }}</span>
                <h1>{{ 'blog.title'|trans }}</h1>
                <p>{{ 'blog.intro'|trans }}</p>
            </div>
        </div>
    </section>

    <section class="blog-index max-w-7xl mx-auto px-5" aria-label="{{ 'blog.articles_label'|trans }}">
        {% if posts %}
            {% set featured_post = posts|first %}
            <a class="blog-featured" href="{{ path('app_front_blog_show', {slug: featured_post.slug}) }}">
                <span class="blog-featured__media">
                    <img src="{{ featured_post.cover_image }}" alt="{{ featured_post.title }}">
                </span>
                <span class="blog-featured__content">
                    <span class="blog-post-meta">
                        <em>{{ featured_post.category }}</em>
                        <span><i class="fa-regular fa-clock"></i> {{ 'blog.reading_time'|trans({'%count%': featured_post.reading_time}) }}</span>
                    </span>
                    <strong>{{ featured_post.title }}</strong>
                    <span>{{ featured_post.excerpt }}</span>
                    <small>
                        {{ 'blog.read_article'|trans }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </small>
                </span>
            </a>

            {% if posts|length > 1 %}
                <div class="blog-grid">
                    {% for post in posts|slice(1) %}
                        <article class="blog-card">
                            <a class="blog-card__media" href="{{ path('app_front_blog_show', {slug: post.slug}) }}">
                                <img src="{{ post.cover_image }}" alt="{{ post.title }}" loading="lazy">
                                <span>{{ post.category }}</span>
                            </a>
                            <div class="blog-card__content">
                                <span class="blog-card__date">
                                    {{ post.published_at|date('d/m/Y') }}
                                    <i></i>
                                    {{ 'blog.reading_time'|trans({'%count%': post.reading_time}) }}
                                </span>
                                <h2><a href="{{ path('app_front_blog_show', {slug: post.slug}) }}">{{ post.title }}</a></h2>
                                <p>{{ post.excerpt }}</p>
                                <a class="blog-card__action" href="{{ path('app_front_blog_show', {slug: post.slug}) }}">
                                    {{ 'blog.read_article'|trans }}
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <div class="blog-empty">
                <i class="fa-regular fa-newspaper"></i>
                <h2>{{ 'blog.empty_title'|trans }}</h2>
                <p>{{ 'blog.empty_text'|trans }}</p>
            </div>
        {% endif %}
    </section>
{% endblock %}
