{% extends 'admin/base.html.twig' %}

{% block admin_title %}{{ license.name }}{% endblock %}

{% block admin_content %}
    <section class="admin-license-editor">
        <div class="admin-page-heading admin-page-heading--actions">
            <div>
                <span>{{ 'admin.license.edit.eyebrow'|trans }}</span>
                <h1>{{ license.name }}</h1>
                <p>{{ 'admin.license.edit.subtitle'|trans({'%count%': license.products|length}) }}</p>
            </div>
            <a href="{{ path('app_admin_licenses_index') }}" class="admin-secondary-button">
                <i class="fa-solid fa-arrow-left"></i>
                {{ 'admin.license.back_to_list'|trans }}
            </a>
        </div>

        {% include 'admin/licenses/_form.html.twig' with {
            form: form,
            license: license,
            submit_label: 'admin.license.form.update_submit'
        } only %}
    </section>
{% endblock %}
